$font-color: #444;

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import "mixin";

@import "paging";

body {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}




* {
  font-family: Avenir,"Lato","애플 SD 산돌고딕 Neo","Apple SD Gothic Neo","나눔바른고딕",NanumBarunGothic,"나눔고딕",NanumGothic,"맑은 고딕","Malgun Gothic","돋움",dotum,AppleGothic,sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

main {
  //display: flex;
}

div.on__top__icon {
  width: 20px;
  position: fixed;
  bottom: 10px;
  right: 580px;
  z-index: 9999;
}

div.global-wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  footer {
    @media screen  and (max-width: 600px) {
      padding-left: 15px;
      display: inherit;
    }
    * {
      color: #fff !important;
    }
    display: flex;
    font-size: 0.7em;
    background-color: #aa7cc0;
    clear: both;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 13px calc((100% - 1300px) / 2);
    div.copyright {
      flex: 1;
      font-size: 1em;
      display: inline-block;
      padding-top: 4px;
      //flex: 1;
      a {
        font-size: 1.1em;
        font-weight: bold;
      }
    }

    a {
      font-size: 1em;
    }

    ul.follow {
      &,li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
      }
      li {
        font-size: .7em;
        margin-right: 10px;
        &.follow__title {
          font-weight: bold;
        }
        svg {
          margin-right: 5px;
          height: 0.8em;
          position: relative;
          top: 1px;
        }
      }
    }
  }


}

div {
  &.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 0.66em 0 1em;
    width: 100%;
    max-width: 30px;
  }
}

a {
  color: $font-color;
  text-decoration: none;
}

@import "gnb";

section.contents {
  padding: 60px 20px 20px;
  position: relative;
  display: flex;
  &.block {
    display: block;
  }
  @import "sidebar";
  @import "content-wrapper";
}

@import 'archive-list';
