article.blog-post {
  margin-top: 20px;
  span.page-divider {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ddd;

    span {
      &.one {
        position: relative;
        top: -9px;
        display: block;
        background: #ddd;
        width: 18px;
        height: 18px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
      }

      &.two {
        position: relative;
        top: -26px;
        display: block;
        background: #fff;
        width: 16px;
        height: 16px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
      }
    }
  }

  header {
    padding-bottom: 25px;
    position: relative;
    h1 {
      font-size: 1.563em;
      font-weight: bold;
      margin-top: 0;
      line-height: 1.3;
    }
    > i {
      font-size: .75em;
      color: #646769;
      margin-top: -0.5em;
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      clear: both;
      svg {
        font-size: 1em;
        color: #646769;
        margin-right: 5px;
      }

      span {
        font-size: 1em;
        color: #646769;
      }
      a {
        font-size: 1em;
      }
      &.blog-post-category-link {
        position: absolute;
        right: 0;
        font-size: .8em;
        color: #646769;
        a {
          color: #646769;
          text-decoration: underline;
        }
      }
    }
  }

  ul.post-tags {
    margin-top: -25px !important;
    margin-bottom: 40px !important;

    &, li {
      @include list-none-style;
    }
    li {
      display: inline-block;
      svg, a {
        color: #646769;
      }
      svg {
        font-size: .8em;
        margin-right: 5px;
      }
      a {
        font-size: .8em;
        padding: 3px 5px;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }

  section {
    deckgo-highlight-code {
      --deckgo-highlight-code-font-size: .8em;
      --deckgo-highlight-code-font-family: 'D2Coding', monospace;
      --deckgo-highlight-code-carbon-header-button-width: .65em;
      --deckgo-highlight-code-carbon-header-button-height: .65em;
      --deckgo-highlight-code-carbon-header-padding: 0.3em 1em;
      --deckgo-lowlight-code-line-numbers-color: #888;
    }
    p {
      font-size: 0.8em;
      margin: 0 0 1.3em
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 10px;
      th, td {
        border: 1px solid #d9d9d9;
        padding: 3px 10px;
        font-size: .8em;
      }
      thead {
        background-color: #e9e9e9;
      }
    }

    ul li, ol li {
      margin-bottom: 0.5em;
    }
    li {
      font-size: 0.8em;
    }

    blockquote {
      font-size: inherit;
      margin: 2em 1em 2em 0;
      padding-left: 1em;
      padding-right: 1em;
      font-style: italic;
      border-left: 0.25em solid #6f777d;
    }
  }
  div.post-reference {
    span.page-divider {
      margin-top: 40px;
    }
    table {
      width: 100%;
      border-spacing: 0;
      box-sizing: border-box;
      border-collapse: collapse;
      td {
        font-size: .8em;
        border: 1px solid #ddd;
        box-sizing: border-box;
        &:first-child {
          width: 100px;
          text-align: center;
          font-weight: bold;
          background-color: #ddd;
        }
        ul {
          margin-top: 10px;
          padding: 10px !important;
          li {
            margin-left: 25px;
            a {
              color: #0072ff;
              text-decoration: underline;
              &:hover {
                color: #2687ff;
              }
            }
          }
        }
      }
    }
    article {
      display: table;
      width: 100%;
      section {
        font-size: .8em;
        display: table-cell;

      }
    }
  }
}

nav.blog-post-nav {
  &.no-margin {
    margin-top: -50px;
  }
  ul {
    @media screen  and (max-width: 600px) {
      margin-top: 30px;
    }
    li {
      padding: 0;
      width: 48%;
      a {
        @media screen  and (max-width: 600px) {
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        font-size: .8em;
        padding-left: 10px;
        position: relative;
        &:hover {
          text-decoration: underline;
        }
        svg {
          font-size: .8em;
          position: absolute;
          left: 0;
          top: 4px;
        }
      }
      &:last-child {
        text-align: right;
        a {
          padding-left: 0;
          padding-right: 15px;
          svg {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
