ul.github__repos {
  &, li {
    @include list-none-style
  }

  li {
    width: calc(25% - 20px);
    @media screen and (max-width: 600px) {
      width: 100%;
      height: auto;
      div.github__repos__updated {
        font-size: .7em;
        text-align: right;
        position: inherit !important;
      }
    }
    padding: 10px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
    height: 138.5px;
    position: relative;
    &:hover {
      border-color: #333;
      background-color: #efefef;
    }
    strong {
      font-size: .95em;
    }
    div {
      &.github__repos__desc {
        font-size: .75em;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      &.github__repos__updated {
        position: absolute;
        font-size: .7em;
        right: 20px;
        bottom: 10px;
      }
    }
  }

}
